{% trans %}
<p>Esto es un esfuerzo encabezado por 
<a href="http://codeandomexico.org/" target='_blank'>Codeando México</a> 
para abrir datos en nuestro país.</p>

<p>Creemos que una plataforma impulsada por la sociedad civil tendrá mayor
riqueza que una administrada por gobierno, ya que invitamos a toda la comunidad interesada en
<a href="http://opendatahandbook.org/es/what-is-open-data/" target='_blank'>datos abiertos</a> para que se vuelvan agentes activos en la generación, validación y consumo de estos datos.</p>

<p>Cabe recalcar que la tecnología detrás de esta plataforma se mantiene gracias a las miles 
de horas de programación dedicadas al proyecto de código abierto CKAN, una herramienta utilizada 
por gobiernos de todo el mundo y mantenida por The Open Knowledge Foundation.</p>

<br />
<p>CKAN: <a href="http://ckan.org/" target='_blank'>http://ckan.org/</a><br />
The Open Knowledge Foundation: <a href="http://okfn.org/" target='_blank'>http://okfn.org/</a><br />
Codeando México: <a href="http://codeandomexico.org/" target='_blank'>http://codeandomexico.org</a><br />
{% endtrans %}
